#body-display {background-color: #323232;
font-family: Roboto, Helvetica, sans-serif; }

.create {
margin-top: 80px;
margin-left: auto; 
margin-right: auto;
height: 100vh;}

.createButton {
font-size: 20px;
margin: 0 auto;
text-align: center;
}
.leftDiv {width: 400px;}

#backgroundGray{background-color:#323232;
color: #e2ff88;}

.playlist {
height: 50px; 
font-weight: bold; 
font-family: Roboto, Helvetica, sans-serif; 
width: 150px; 
background-color: #323232; 
color: #e2ff88; 
border: 3px solid #e2ff88;
display: inline-block;
margin: 10px;
}
.playlistTitle {
color: #e2ff88;
font-style: bold;
font-size: 20px; 
margin-top: 32px;
}

.inlineBlock{display: inline-block;}
.gray{color: #323232;}

.results {
background-color: #e2ff88;
color: #323232; 
border-radius: 10px;
width: 500px;
}

.resultList {
margin-bottom: -10px;
text-align: right;}

li > a { color: #323232;}
.hand {
cursor: pointer;
cursor: hand;}

li {list-style-type: none;}

.borderYellow {border: solid 1px #e2ff88;}

li.borderYellow:hover {background-color: #e2ff88; color: #323232;}

.left {
float: left; 
color: #323232;
font-family: Roboto, Helvetica, sans-serif; 
height: 100vh;
}

.delete {
font-style: bold; 
margin-right: 5px;
}

.block{display: block;}

.main {
color: blue;
overflow: hidden;
}
/*.home {
width: 526px;
margin: 0 auto;
text-align: center;
}
*/

.homeButtons {
display: block; 
color: #e2ff88;}

#smLogo {text-align: center;}

ul {padding: 0;}

.floatLeft {float: left;}
.floatRight {float: right;}
.added {
border-radius: 10px;
background-color:#e2ff88;
width: 400px; 
height: 80vh; 
overflow: auto;
}

.modalTitle {font-weight: bold;}

#backgroundYellow {
	background-color: #e2ff88;
	color: #323232;
}

.addedList {
background-color: #323232; 
color: #e2ff88; 
width: 300px; 
margin: 0 auto; 
text-align: center;
}

.grid {margin-top:80px;}

.center {
text-align: center;
width: 178px;
font-size: 20px; 
background-color: #e2ff88; 
height: 100vh;
}

.marginLeft {margin-left: 10px;}