#body-display {background-color: #323232;}


li > a { color: #323232;}
li>a:hover {color: black;}

.left {
    position:absolute;
    left:0; top: 0; bottom: 0;
    width: 178px;
    background-color: #e2ff88;
    color: #323232;
    font-style: Roboto, Helvetica, sans-serif;
}

.main {
	color: white;
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
}
.home {width: 526px; margin: 0 auto; text-align: center;}

.homeButtons {display: block; color: #e2ff88;}

#smLogo {margin-left: 10px;}

.marginLeft {margin-left: 20px;}


.floatLeft {float: left;}
.floatRight {float: right;}

.clear {clear: both;}

