.HolyGrail {
  display: 	-webkit-flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}

#create {color: #323232; background-color: #e2ff88; padding: 10px; border-radius: 10px;}
.createButton {
font-size: 20px;
text-align: center;
margin-left: 40px;
}


.results {
background-color: #e2ff88;
color: #323232; 
border-radius: 10px;
width: 400px;
height: 85vh;
overflow: auto;
}

.delete {
font-style: bold; 
margin-right: 5px;
float: right;
}

.input {color: #323232;}

.addedList {
background-color: #323232; 
color: #e2ff88; 
width: 400px; 
margin: 0;
text-align: center;
padding-right: 0;
margin-bottom: 5px;
}

.added {
border-radius: 10px;
background-color:#e2ff88;
width: 400px; 
height: 85vh; 
overflow: auto;
}

.playlistTitle {
color: #e2ff88;
font-style: bold;
font-size: 20px; 
margin-top: 30px;
}

span.plus:hover{
  background-color: #323232;
  color: #e2ff88;
}

.plus{
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 50%;
  border: 1px solid #323232;
  margin-bottom: 10px;
  margin-top:5px;
  margin-right: 10px;
  margin-left: 10px;
}

ul {margin: 0; padding:0;}

.resultList {
text-align: right; padding-top: 8.5px; margin-right: 10px; margin-left: 10px;}

.dashboard {margin-top: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

.inlineBlock{display: inline-block;}

.playlist {
height: 50px; 
font-weight: bold; 
font-family: Roboto, Helvetica, sans-serif; 
width: 150px; 
background-color: #323232; 
color: #e2ff88; 
border: 1px solid #e2ff88;
margin: 10px;
}

li.resultList>span {margin-right: 5px;}
li.current {height: 34px; position: relative;}
li.current:hover, li.addedList:hover {font-weight: bold; background-color: #e2ff88; color: #323232;}
li.resultList>span:hover {font-weight:bold;}

li>div {display: none;}
li:hover>div {display: inline-block;}

.mixtape {
  height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


.center {
text-align: center;
}

li.playlist:hover {background-color: #e2ff88; color: #323232;}
li.resultList:hover {background-color: #323232; color: #e2ff88;}

.flex-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.lsn {
list-style: none;
}

.bold {font-weight: bold;}

.marginTop {margin-top: 40px;}
.marginLeft {margin-left: 40px;}

.hand {
cursor: pointer;
cursor: hand;}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.HolyGrail-body {
  display: -webkit-flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
  background-color: #323232;
  color: #e2ff88;
}

.HolyGrail-contentOne {
  flex: 1;
  background-color: #323232;
  order: 1;
}

.HolyGrail-nav {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-ads {
	order: 2;
  flex: 1;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
  background-color: #e2ff88;
}

.HolyGrail,
.HolyGrail-body {
  display: -webkit-flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

.main {display: flex;
    align-items: center;
    justify-content: center;}

#backgroundGray{background-color:#323232;
color: #e2ff88;}

#backgroundYellow {
  background-color: #e2ff88;
  color: #323232;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
    background-color: #323232;
  }
  .HolyGrail-nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}