#body-display {background-color: #323232;
font-family: Roboto, Helvetica, sans-serif;}

.mixtape {
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsFound {height: 10px;}

a>span{color: #323232}
.yellow{color: #e2ff88;}
.create {
margin-top: 80px;
margin-left: auto; 
margin-right: auto;
height: 99vh;}

#create {color: #323232; background-color: #e2ff88; padding: 10px; border-radius: 10px;}

.createButton {
font-size: 20px;
margin: 0 auto;
text-align: center;
}

.marginTop {margin-top: 40px;}

.leftDiv {width: 400px;}

#backgroundGray{background-color:#323232;
color: #e2ff88;}

.playlist {
height: 50px; 
font-weight: bold; 
font-family: Roboto, Helvetica, sans-serif; 
width: 150px; 
background-color: #323232; 
color: #e2ff88; 
border: 1px solid #e2ff88;
margin: 10px;
}
div.playlist:hover {background-color: #e2ff88; color: #323232;}

.playlistTitle {
color: #e2ff88;
font-style: bold;
font-size: 20px; 
margin-top: 30px;
}

.inlineBlock{display: inline-block;}
.gray{color: #323232;}

.results {
background-color: #e2ff88;
color: #323232; 
border-radius: 10px;
width: 459px;
}

.resultList {
text-align: right; padding-top: 8.5px;}

li > a { color: #323232;}
.hand {
cursor: pointer;
cursor: hand;}

li {list-style-type: none;}

.borderYellow {border: solid 1px #e2ff88;}

li.borderYellow:hover {background-color: #e2ff88; color: #323232;}

.left {
float: left; 
color: #323232;
font-family: Roboto, Helvetica, sans-serif; 
height: 99vh;
}

.delete {
font-style: bold; 
margin-right: 5px;
}

.block{display: block;}

.main {
color: blue;
overflow: hidden;
}
.home {
width: 526px;
margin-left: 25%;
margin-top: 80px;
text-align: center;
}

span.plus:hover{background-color: #323232; color: #e2ff88;}
.plus{font-weight: bold; padding-right: 5px; padding-left: 5px; border-radius: 50%; border: 1px solid #323232; margin-bottom: 10px; margin-top:5px; margin-right: 10px;}

.homeButtons {
display: block; 
color: #e2ff88;}

#smLogo {text-align: center;}

ul {padding: 0;}

.floatLeft {float: left;}
.floatRight {float: right;}
.added {
border-radius: 10px;
background-color:#e2ff88;
width: 400px; 
height: 80vh; 
overflow: auto;
}

.modalTitle {font-weight: bold;}

#backgroundYellow {
	background-color: #e2ff88;
	color: #323232;
}



.grid {margin-top:80px;}

.center {
text-align: center;
width: 178px;
font-size: 20px; 
background-color: #e2ff88; 
height: 99vh;
}

.marginLeft {margin-left: 10px;}