



<div class="HolyGrail-contentOne marginTop marginLeft">
  <form ng-submit="search(); resultsFound=true">
    <input class="input" type="text" name="enter-artist" placeholder="enter artist or song name here" id="artistInput" ng-model="artistName" size="47">
    <button type="submit" id="backgroundYellow" class="btn">SEARCH</button>
  </form>

  <P class="resultsFound" ng-if="resultsFound" id="backgroundGray">{{results.length}} Results Found For {{searched | uppercase}}</P>
  <div id="searchResults" class="results" ng-if="resultsFound">

    <ul class="lsn" ng-repeat="result in results">
      <li class="hand resultList" data-id="{{result.id}}" ng-click="addSong(result)"><span>{{result.artists[0].name}} - {{result.name}}</span><div><img src="images/add.png"></div></li>
    </ul>
  </div>

</div>




<div class="HolyGrail-ads marginTop marginLeft">
  <div class="playlistTitle">
    <span ng-hide="editing" ng-click="editing = true">{{playlistTitle}}</span>
    <form ng-show="editing" ng-submit="editing = false">
      <input class="input" type="text" ng-model="playlistTitle" placeholder="Click to Rename" ng-required/>
      <button class="btn" id="backgroundYellow" type="submit">SUBMIT</button>
    </form><br>
    <div class="btn" ng-click="save()">SAVE PLAYLIST</div>
    <div class="btn" ng-click="share(playlist)">SHARE PLAYLIST</div>
  </div>
  <div ng-if="resultsFound" class="added">
    <ul ui-sortable ng-model="playlist" class="lsn">

      <li ng-repeat="song in playlist" class="hand addedList"><span ng-dblclick="pause()" ng-click="play(song)">{{song.artists[0].name}} - {{song.name}}</span><span ng-click="delete(song)" class="delete">x</span></li>
    </ul>
  </div>
</div>