<div class="floatLeft col-xs-6">
<form ng-submit="search()">
      <input type="text" name="enter-artist" placeholder="enter artist name here" id="artistInput" ng-model="artistName">
      <button type="submit" class="btn">search</button>
    </form>


    <div>
    <P>song list</P>
    <div ng-repeat="result in results">

      <ul>
      <li class="results" data-id="{{result.id}}" ng-dblclick="playSnippet()">{{result.artists[0].name}} - {{result.name}} <img ng-click="addSong(result)" src="./images/add.png"></li>
      </ul>
    </div>
  </div>
</div>

<div class="floatRight col-xs-6">
<span ng-hide="editing" ng-click="editing = true">{{playlistTitle}}</span>
<form ng-show="editing" ng-submit="editing = false">
<input type="text" ng-model="playlistTitle" placeholder="Playlist Title" ng-required/>
<button class="btn" type="submit">Save</button>
</form>
  <div >
  <ul ng-repeat="song in playlist" id="sortable">

  	<li>{{song.name}}</li>
  </ul>
  </div>
  <div ng-click="save()">SAVE button</div>
  </div>
