<div class="grid">

<!-- need to create an edit function -->



	<div class="lists">
	<a class="createButton" ng-click="createPlaylist()"><span>Create new playlist</span></a><br>

		<div ng-repeat="playlist in playlists">
			<div data-toggle="modal" data-target="#myModal" ng-click="display(playlist)" class="hand floatLeft playlist" data-id="{{playlist._id}}">{{playlist.title}}</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div id="backgroundYellow" class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modalTitle modal-title">{{title}}</h4>
					</div>
					<div id="backgroundGray" class="modal-body">
						<p>
							<div class="current" ng-show="!show" >
								
								<ul ng-repeat="song in songlist">
									<li class="borderYellow hand" ng-dblclick="pause()" ng-click="play(song)" data-id="{{song.id}}"><span class="marginLeft">{{song.artists[0].name}} - {{song.name}}</span></li>
								</ul>
							</div>

						</p>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>


	</div>
</div>