<div class="dashboard">

<!-- need to create an edit function -->



	<div>
	<div>
	<a class="hand createButton" ng-click="createPlaylist()"><span id="create">CREATE NEW PLAYLIST</span></a></div><br>
	<div class="flex-container">
		<ul class="marginTop lsn" ng-repeat="playlist in playlists">
			<li data-toggle="modal" data-target="#myModal" ng-click="display(playlist)" class="hand playlist" data-id="{{playlist._id}}">{{playlist.title}}</li>
		</ul>
	</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div id="backgroundYellow" class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 data-id="{{id}}" class="bold modal-title">{{title}}</h4><!-- <span id="edit" ng-click="edit()" class="hand">Edit</span> -->
					</div>
					<div id="backgroundGray" class="modal-body">
						<p>
							<div ng-show="!show" >
								
								<ul ng-repeat="song in songlist">
									<li class="lsn current hand" ng-dblclick="pause()" ng-click="play(song)" data-id="{{song.id}}"><span class="marginLeft">{{song.artists[0].name}} - {{song.name}}</span></li>
								</ul>
							</div>

						</p>
					</div>
					<div class="modal-footer">
					
					<button type="button" ng-click="deletePlaylist(id)" class="btn btn-default" id="backgroundGray">Delete</button>
					</div>
				</div>

			</div>
		</div>


	</div>
</div>