<div class="mixtape">
  <div class="center">
    <img src="./images/mixtape.png">

      <h2 id="backgroundGray">Login</h2>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <form class="form" ng-submit="login($event)">
        <div class="form-group">

          <input class="centerInput oswald" type="text" size="40" placeholder="username" name="username" ng-model="loginForm.username" required>
        </div>
        <div class="form-group">

          <input class="centerInput oswald" type="password" size="40" placeholder="password" name="password" ng-model="loginForm.password" required>
        </div>
        <div>
          <button type="submit" id="backgroundYellow" class="btn" ng-disabled="disabled">SUBMIT</button>
        </div>
      </form>
      <br>


      </div>
    </div>
  </div>